extends layout
block content
    script.
        $(document).ready(function () {
            alert('yolo');
            $.get('/test',function (response) {
                console.log(response);
            });
        });